<%= stylesheet_link_tag "style" %>

<div class="signin">
<h1>Editar Recurso</h1>

<%= render 'form', resource: @resource, mensaje: "Editar Recurso" %>

<%= link_to 'Ver', @resource %> |
  <%= link_to 'Atras', index_admin_path%>
</div>